{{#if blogs}}
{{#each blogs as |blog|}}
<div class="card mt-2 p-5">
  <div class="row">
    <div class="col-md-8">
      <h4><a class="text-decoration-underline" href="/blog/{{ blog.id }}">{{ blog.title }}</a></h4>
    </div>
    <p class="text-dark">{{ blog.content }}</p>
    <p class="text-muted">Submitted by {{ user.username }} on {{ blog.createdAt }}</p>
  </div>
</div>
{{/each}}
{{else}}
<div class="card mt-2">
  <div class="card-body text-muted">
    <p class="card-text"> Sorry, there are currently no posts. Please check back often for new posts.</p>
  </div>
</div>
{{/if}}